body {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 750px;
  margin: 0px;
  padding: 20px;
  color: #333;
}

header h1 {
  font-size: 24px;
  color: #333;
}

h5 {
  font-size: 12px;
  color: #333;
}

a:link,
a:visited {
  color: #333;
}

a:hover {
  color: rgb(137, 137, 10);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myImage {
  width: 400px;
}

body.aboutBody {
  margin: 10px;
  max-width: none;
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listoflife li {
  padding: 5px;
}
